.back, .hero,.body,.bar,.footer {
	background-color: #FEAEC9;
	padding: 15px 10px 10px 0px;
	margin-bottom: 20px;
}
.bg{
	background-color: #9DD6F4;
	border: 4px solid green;
	min-height: 70px;

}

.red{
	background-color: red;
}

